# matlab autosave
*.asv

# python, also see https://github.com/github/gitignore/blob/master/Python.gitignore
*.pyc

# sphinx documentation builds
doc/_build

# sphinx documentation builds
doc/_Papers

# sphinx documentation builds
doc/_Pictures
